/* Dashboard.css */
.dashboard {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-widget-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.widgets-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
}

.widget {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: move;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  position: relative;
}

.widget-title {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-sub-widget-btn {
  padding: 5px 10px;
  align-self: flex-end; /* Align the button to the right */
  margin-top: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.secondary-widgets {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.secondary-widget {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff;
}

.secondary-widget-content {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.secondary-widget-image .image-upload {
  width: 100%;
  padding: 5px;
}

.uploaded-image {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

.delete-area {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #dc3545;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  visibility: hidden;
}

.delete-area.show {
  visibility: visible;
}
